# Build artifacts
module/*.o
module/*.ko
module/*.mod
module/*.mod.c
module/*.mod.o
module/*.cmd
module/.module*
module/.spi*
module/.trace*
module/Module.symvers
module/modules.order
module/*.tmp
module/*.bak

# Large trace files (raw ETW)
*.etl
*.bin

# Build artifacts (driver/)
driver/*.o
driver/*.ko
driver/*.mod
driver/*.mod.c
driver/*.mod.o
driver/*.cmd
driver/.*.cmd
driver/.module*
driver/Module.symvers
driver/modules.order
