[Unit]
Description=Surface Touchscreen Driver (spi-amd + spi-hid, standard HID mode)
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe spi-amd
ExecStart=/sbin/modprobe spi-hid
ExecStop=/sbin/modprobe -r spi-hid

[Install]
WantedBy=multi-user.target
