[Unit]
Description=Surface Laptop 4 Touchscreen Driver (spi-amd + spi-hid, standard HID mode)
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/insmod /home/simone/spi-hid/driver/spi-hid.ko
ExecStart=/sbin/insmod /home/simone/spi-hid/driver/spi-amd.ko
ExecStop=/sbin/rmmod spi_hid
ExecStop=/sbin/rmmod spi_amd

[Install]
WantedBy=multi-user.target
